@import "~noty/src/noty.scss";
@import "~noty/src/themes/metroui.scss";

.noty_theme__metroui.noty_bar .noty_body {
    padding: 1.25em;
    font-size: 14px;
    text-align: center;
}

.content-wrapper {
    background-color: red;
}
